body {
  background: url('https://mobimg.b-cdn.net/v3/fetch/f4/f4e488ef69ea10573c0ce9cfbaf08643.jpeg') no-repeat center  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.settingValues{
  width: 400px;
  height: 400px;
  margin-top: 150px;
  background-color: rgba(113, 118, 171, 0.9);
  border: 3px solid #3232af;
  border-radius: 20px;
}

.counters{
  width: 300px;
  height: 200px;
  background-color: rgba(113, 118, 171, 0.9);
  border: 3px solid #3232af;
  border-radius: 20px;
}

button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 25px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
  border-radius: 25px;
  border: 3px solid #E7E5DD;
  background: #0e5d96;
  width: 150px;
  height: 60px;
  color: black;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .2em .2em .3em #000000;
}

button:hover {
  background-color: #4daae3;
  color: white;
}

button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

button:disabled {
  background-color: #fafafa;
  color: black;
}

.navigate {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 35px 155px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
  color: #E7E5DD;
  border-radius: 25px;
  border: 3px solid #E7E5DD;
  background: #0e5d96;
}

.navigate:hover {
  color: #000000;
  background: #E7E5DD;
}

.redCounter {
  margin: 20px 45px 10px 45px;
  text-align: center;
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  align-items: center;
  background-color: rgba(215, 152, 152, 0.5);
  border-radius: 20px;
  border: 3px solid #ff0000;
  color: red;
  font-weight:bold;
  font-size: 105px;
  text-shadow: rgba(79, 19, 68, 0.8) 5px 5px 5px;
}

.blockCounter {
  margin: 20px 45px 10px 45px;
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: rgba(156, 217, 205, 0.5);
  font-size: 100px;
  border-radius: 20px;
  border: 3px solid #3232af;
}

.blockInput{
  margin: 20px 25px 10px 25px;
  padding: 35px 20px 35px 20px;
  width: 300px;
  text-align: center;
  top: 50%;
  left: 50%;
  background-color: rgba(156, 217, 205, 0.5);
  font-size: 25px;
  border-radius: 20px;
  border: 3px solid #3232af;
}

.workInput {
  width: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #3232af;
  border-radius: 5px;
}

.error {
  width: 90px;
  background-color: rgba(215, 152, 152, 0.9);
  border: 2px solid #ff0000;
  border-radius: 5px;
}
